<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>

    <title>Sigfox - PyTrack</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/simple-sidebar.css" rel="stylesheet">

	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.1/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.33.1/mapbox-gl.css' rel='stylesheet' />
	<style>
		body { margin:0; padding:0; }
		#map { margin:10px;top:0; bottom:10px; width:98%; height: 100vh}
	</style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <img src="images/logo.png" alt="Logo" style="height: 90%;margin:10px">
                </li>
				<li class="sidebar-brand">
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">History</a>
                </li>
                <li>
                    <a href="#">PyBytes</a>
                </li>
                <li>
                    <a href="#">Support</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" style="margin-left: 10px">
						<a href="#" class="btn btn-default" id="menu-toggle"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span></a>

						<a href="#" class="btn btn-default" id="elephant-toggle"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Show Locations</a>

						<a href="#" class="btn btn-default" id="path-toggle"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Show Path</a>

						<a href="#" class="btn btn-default" id="date-toggle">{{{coords.9.payload}}}</a>

					</div>
                </div>
				<div class="row">
                    <div class="col-lg-12" style="margin-bottom: 50px">
						<div id='map'></div>
					</div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });

    </script>
	<script src="https://www.gstatic.com/firebasejs/3.7.1/firebase.js"></script>
	<script>
	console.log({{{coords.9.payload}}})

	mapboxgl.accessToken = 'pk.eyJ1IjoiYnVja25hbGwiLCJhIjoiY2owY2hiZXF2MDAzZDJ4cDloaXM3ajIxbyJ9.0qvwIk1oHTeiOAa0WeCsQw';
	var map = new mapboxgl.Map({
	    container: 'map',
	    style: 'mapbox://styles/mapbox/streets-v9',
	    center: [{{{coords.0.payload}}}],
	    zoom: 15
	});

	map.on('load', function () {

	    map.addLayer({
	        "id": "route",
	        "type": "line",
	        "source": {
	            "type": "geojson",
	            "data": {
	                "type": "Feature",
	                "properties": {},
	                "geometry": {
	                    "type": "LineString",
	                    "coordinates": [
							[{{{coords.0.payload}}}],
							[{{{coords.1.payload}}}],
							[{{{coords.2.payload}}}],
							[{{{coords.3.payload}}}],
							[{{{coords.4.payload}}}],
							[{{{coords.5.payload}}}],
							[{{{coords.6.payload}}}],
							[{{{coords.7.payload}}}],
							[{{{coords.8.payload}}}],
							[{{{coords.9.payload}}}],
							[{{{coords.10.payload}}}],
							[{{{coords.11.payload}}}],
							[{{{coords.12.payload}}}],
							[{{{coords.13.payload}}}],
							[{{{coords.14.payload}}}],
							[{{{coords.15.payload}}}],
							[{{{coords.16.payload}}}],
							[{{{coords.17.payload}}}],
							[{{{coords.18.payload}}}],
							[{{{coords.19.payload}}}],
							[{{{coords.20.payload}}}],
							[{{{coords.21.payload}}}],
							[{{{coords.22.payload}}}],
							[{{{coords.23.payload}}}],
							[{{{coords.24.payload}}}],
							[{{{coords.25.payload}}}],
							[{{{coords.26.payload}}}],
							[{{{coords.27.payload}}}],
							[{{{coords.28.payload}}}],
							[{{{coords.29.payload}}}],
							[{{{coords.20.payload}}}],
							[{{{coords.31.payload}}}],
							[{{{coords.32.payload}}}],
							[{{{coords.33.payload}}}],
							[{{{coords.34.payload}}}],
							[{{{coords.35.payload}}}],
							[{{{coords.36.payload}}}],
							[{{{coords.37.payload}}}],
							[{{{coords.38.payload}}}],
							[{{{coords.39.payload}}}],
							[{{{coords.40.payload}}}],
							[{{{coords.41.payload}}}],
							[{{{coords.42.payload}}}],
							[{{{coords.43.payload}}}],
							[{{{coords.44.payload}}}],
							[{{{coords.45.payload}}}],
							[{{{coords.46.payload}}}],
							[{{{coords.47.payload}}}],
							[{{{coords.48.payload}}}],
							[{{{coords.49.payload}}}],
							[{{{coords.50.payload}}}],
							[{{{coords.51.payload}}}],
							[{{{coords.52.payload}}}],
							[{{{coords.53.payload}}}],
							[{{{coords.54.payload}}}],
							[{{{coords.55.payload}}}],
							[{{{coords.56.payload}}}],
							[{{{coords.57.payload}}}],
							[{{{coords.58.payload}}}],
							[{{{coords.59.payload}}}],
							[{{{coords.60.payload}}}],
							[{{{coords.61.payload}}}],
							[{{{coords.62.payload}}}],
							[{{{coords.63.payload}}}],
							[{{{coords.64.payload}}}],
							[{{{coords.65.payload}}}],
							[{{{coords.66.payload}}}],
							[{{{coords.67.payload}}}],
							[{{{coords.68.payload}}}],
							[{{{coords.69.payload}}}],
							[{{{coords.70.payload}}}],
							[{{{coords.71.payload}}}],
							[{{{coords.72.payload}}}],
							[{{{coords.73.payload}}}],
							[{{{coords.74.payload}}}],
							[{{{coords.75.payload}}}],
							[{{{coords.76.payload}}}],
							[{{{coords.77.payload}}}],
							[{{{coords.78.payload}}}],
							[{{{coords.79.payload}}}],
							[{{{coords.80.payload}}}],
							[{{{coords.81.payload}}}],
							[{{{coords.82.payload}}}],
							[{{{coords.83.payload}}}],
							[{{{coords.84.payload}}}],
							[{{{coords.85.payload}}}],
							[{{{coords.86.payload}}}],
							[{{{coords.87.payload}}}],
							[{{{coords.88.payload}}}],
							[{{{coords.89.payload}}}],
							[{{{coords.90.payload}}}],
							[{{{coords.91.payload}}}],
							[{{{coords.92.payload}}}],
							[{{{coords.93.payload}}}],
							[{{{coords.94.payload}}}],
							[{{{coords.95.payload}}}],
							[{{{coords.96.payload}}}],
							[{{{coords.97.payload}}}],
							[{{{coords.98.payload}}}],
							[{{{coords.99.payload}}}],
							[{{{coords.100.payload}}}],
							[{{{coords.101.payload}}}],
							[{{{coords.102.payload}}}],
							[{{{coords.103.payload}}}],
							[{{{coords.104.payload}}}],
							[{{{coords.105.payload}}}],
							[{{{coords.106.payload}}}],
							[{{{coords.107.payload}}}],
							[{{{coords.108.payload}}}],
							[{{{coords.109.payload}}}],
							[{{{coords.110.payload}}}],
							[{{{coords.111.payload}}}],
							[{{{coords.112.payload}}}],
							[{{{coords.113.payload}}}],
							[{{{coords.114.payload}}}],
							[{{{coords.115.payload}}}],
							[{{{coords.116.payload}}}],
							[{{{coords.117.payload}}}],
							[{{{coords.118.payload}}}],
							[{{{coords.119.payload}}}],
							[{{{coords.120.payload}}}],
							[{{{coords.121.payload}}}],
							[{{{coords.122.payload}}}],
							[{{{coords.123.payload}}}],
							[{{{coords.124.payload}}}],
							[{{{coords.125.payload}}}],
							[{{{coords.126.payload}}}],
							[{{{coords.127.payload}}}],
							[{{{coords.128.payload}}}],
							[{{{coords.129.payload}}}],
							[{{{coords.120.payload}}}],
							[{{{coords.131.payload}}}],
							[{{{coords.132.payload}}}],
							[{{{coords.133.payload}}}],
							[{{{coords.134.payload}}}],
							[{{{coords.135.payload}}}],
							[{{{coords.136.payload}}}],
							[{{{coords.137.payload}}}],
							[{{{coords.138.payload}}}],
							[{{{coords.139.payload}}}],
							[{{{coords.140.payload}}}],
							[{{{coords.141.payload}}}],
							[{{{coords.142.payload}}}],
							[{{{coords.143.payload}}}],
							[{{{coords.144.payload}}}],
							[{{{coords.145.payload}}}],
							[{{{coords.146.payload}}}],
							[{{{coords.147.payload}}}],
							[{{{coords.148.payload}}}],
							[{{{coords.149.payload}}}],
							[{{{coords.150.payload}}}],
							[{{{coords.151.payload}}}],
							[{{{coords.152.payload}}}],
							[{{{coords.153.payload}}}],
							[{{{coords.154.payload}}}],
							[{{{coords.155.payload}}}],
							[{{{coords.156.payload}}}],
							[{{{coords.157.payload}}}],
							[{{{coords.158.payload}}}],
							[{{{coords.159.payload}}}],
							[{{{coords.160.payload}}}],
							[{{{coords.161.payload}}}],
							[{{{coords.162.payload}}}],
							[{{{coords.163.payload}}}],
							[{{{coords.164.payload}}}],
							[{{{coords.165.payload}}}],
							[{{{coords.166.payload}}}],
							[{{{coords.167.payload}}}],
							[{{{coords.168.payload}}}],
							[{{{coords.169.payload}}}],
							[{{{coords.170.payload}}}],
							[{{{coords.171.payload}}}],
							[{{{coords.172.payload}}}],
							[{{{coords.173.payload}}}],
							[{{{coords.174.payload}}}],
							[{{{coords.175.payload}}}],
							[{{{coords.176.payload}}}],
							[{{{coords.177.payload}}}],
							[{{{coords.178.payload}}}],
							[{{{coords.179.payload}}}],
							[{{{coords.180.payload}}}],
							[{{{coords.181.payload}}}],
							[{{{coords.182.payload}}}],
							[{{{coords.183.payload}}}],
							[{{{coords.184.payload}}}],
							[{{{coords.185.payload}}}],
							[{{{coords.186.payload}}}],
							[{{{coords.187.payload}}}],
							[{{{coords.188.payload}}}],
							[{{{coords.189.payload}}}],
							[{{{coords.190.payload}}}],
							[{{{coords.191.payload}}}],
							[{{{coords.192.payload}}}],
							[{{{coords.193.payload}}}],
							[{{{coords.194.payload}}}],
							[{{{coords.195.payload}}}],
							[{{{coords.196.payload}}}],
							[{{{coords.197.payload}}}],
							[{{{coords.198.payload}}}],
							[{{{coords.199.payload}}}]
	                    ]
	                }
	            }
	        },
	        "layout": {
	            "line-join": "round",
	            "line-cap": "round"
	        },
	        "paint": {
	            "line-color": "#0048ff",
	            "line-width": 8
	        }
	    });
	});
	</script>

</body>
</html>
